*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #343a40;
    line-height: 1;
}
.container{
    width: 900px;
    background-color: #087f5b;
    display: flex;
    margin: 200px auto;
    align-items: center; 
    padding: 32px;
    gap: 24px;
    border-radius: 8px;
    padding-left: 86px;
    position: relative;
}
.textomonial-section{
    margin-left: 64px;
   
}
.textomonial-text{
    color:#c3fae8;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 24px;
}
.author{
    margin-bottom: 4px;
}
.author,.role{
    color: #63e6be;
    font-size: 16px;
}
img{
    width: 200px;
    transform: scale(1.5);
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);

}
.buttoncontainer{
    display: flex;
    
}
.btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    position: absolute;
     box-shadow: 0px 0px 16px rgba(0,0,0, 0.25);
    
}
.icon{
   stroke:#087f5b 
}
.left-btn{
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.right-btn{
  top: 50%;
  right: 0%; 
  transform: translate(50%,-50%); 
 
}
